body
{
    width:100%;
    margin:0px;
    box-sizing: border-box;
}
#div1{
width: 90%;
margin: 0 auto;
}
#div2{
    width: 90%;
    margin: 0 auto;
    }
#div2 li a{
    color: white;
    margin-left: 40px;
    }
#div2 li a text{
    color: red;
}
#a{
    text-align: center;
}
#new{
    margin-right: 100px;
    border-left:1px solid grey;
    border-right:1px solid grey;
}
.fa-facebook {
    color:white;
  }
  .fa-camera-retro {
    color:white;
  }
  .fa-linkedin {
    color:white;
  }
  .fa-twitter {
    color:white;
  }
  .fa-pinterest {
    color:white;
  }
.p1{
    margin-left: 100px;
    margin-right: 100px;
}
.li{
    margin-left: 100px;
    margin-right: 100px;
}
.p2{
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}